<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container d-flex jutify-content-around ">
    <a class="navbar-brand text-white" href="http://localhost:3000/lists">All Lists</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-row align-items-center">
      <a class="navbar-brand btn btn-outline-success text-white" href="http://localhost:3000/lists/new">Create</a>
    </div>
  </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cloudfront-eu-central-1.images.arcpublishing.com/leparisien/OEEWV52JRBEHHMUFNSE7ZPMSIU.jpg);">
  <div class="container">
    <h1>Discover the <strong>movies lists <strong>!</h1>
    <p>Check the lists, see the different movies through them and have access to bookmarks.</p>
    <a class="btn btn-flat text-light border-light" href="http://localhost:3000/lists/new">Create your list</a>
  </div>
</div>


  <div class="container mt-5">

    <%= yield %>

    </div>
</div>
    <div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Follow us on social medias <i class="fas fa-heart"></i>
  </div>

  </body>
</html>
